* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-box{
    width: 100px;
    height: 100px;
}

.image{
    width: 100%;
    height: 100%;
}

.title{
    text-decoration: underline;
    margin-bottom: 1rem;
}